NEXT_PUBLIC_NHOST_SUBDOMAIN=local
NEXT_PUBLIC_NHOST_REGION=local
NEXT_PUBLIC_HASURA_GRAPHQL_URL=https://local.graphql.local.nhost.run/v1/graphql
NEXT_PUBLIC_HASURA_GRAPHQL_WS_URL=wss://local.graphql.local.nhost.run/v1/graphql
